<launch>
<!-- ############## launch camera ############ -->
	<include file="$(find mark_tracker)/launch/camera.launch"/>
	
	
	
<!-- ############## launch tf_init + ar_track_alvar ############ 
# here we use the bash timed_roslaunch.sh to delay the second launchfile 
#otherwise we get negative time of tf published 
-->
	
	<node pkg="mark_tracker" type="timed_roslaunch.sh" 
	args="1 mark_tracker detection_post_calib.launch " 
	name="timed_roslaunch" output="screen">
	</node>


</launch>
